{
  "$schema": "https://opencode.ai/config.json",
  "model": "anthropic/claude-sonnet-4-5",
  "plugin": [
    "oh-my-opencode@{{OH_MY_OPENCODE_VERSION}}",
    "opencode-antigravity-auth@{{OPENCODE_ANTIGRAVITY_AUTH_VERSION}}"
  ],
  "server": {
    "port": 4096,
    "hostname": "0.0.0.0"
  }
}
